@page
@model MoviePages.Pages.IndexModel
@{
    int i = 1;
    var message = "welcome!";
}


<h1>@message</h1>
@if (Model.MovieList is null || Model.MovieList.Count == 0)
{
    <p>No movies found.</p>
}
else
{
    @foreach (var movie in (Model.MovieList ?? []))
    {
        <p>
            @i - @movie.Name (@movie.Year)
        </p>

        i++;
    }
}
Totla Count: @(Model.MovieList?.Count ?? 0)
<br />
After 2000s: @CountAfter2000s()


@functions {
    public int CountAfter2000s()
    {
        return Model.MovieList?.Count(m => m.Year > 2000) ?? 0;
    }
}

